# General
docker-compose.yml
.vscode/
.env

# aux folder
aux_scripts/.garminconnect

# Python
backend/app/__pycache__/
backend/app/*/__pycache__/
backend/app/*/*/__pycache__/
backend/app/*/*/*/__pycache__/
backend/app/*.pyc

# Logs
backend/app/logs/*.log
backend/app/*.log
backend/logs/*.log

# server image folder images
backend/app/config/server_images/*.jpeg
backend/app/config/server_images/*.png
backend/app/config/server_images/*.jpg

# user image folder images
backend/app/config/user_images/*.jpeg
backend/app/config/user_images/*.png
backend/app/config/user_images/*.jpg

# activity media folder images
backend/app/config/activity_media/*.jpeg
backend/app/config/activity_media/*.png
backend/app/config/activity_media/*.jpg

# gpx and fit files
backend/app/config/files/*.gpx
backend/app/config/files/*.zip
backend/app/config/files/*.fit
backend/app/config/files/*.tcx
backend/app/config/files/bulk_import/*.gpx
backend/app/config/files/bulk_import/*.fit
backend/app/config/files/bulk_import/*.tcx
backend/app/config/files/processed/*.gpx
backend/app/config/files/processed/*.fit
backend/app/config/files/processed/*.tcx
backend/config/files/

# Frontend
frontend/app/img/users_img/*.*
# Logs
frontend/app/.gitignore
frontend/app/logs
frontend/app/*.log
frontend/app/npm-debug.log*
frontend/app/yarn-debug.log*
frontend/app/yarn-error.log*
frontend/app/pnpm-debug.log*
frontend/app/lerna-debug.log*
frontend/app/dev-dist
frontend/app/node_modules
frontend/app/.DS_Store
frontend/app/dist
frontend/app/dist-ssr
frontend/app/coverage
frontend/app/*.local
frontend/app/README.md

frontend/app/cypress/videos/
frontend/app/cypress/screenshots/

# Editor directories and files
frontend/app/.vscode/*
frontend/app/!.vscode/extensions.json
.idea
frontend/app/*.suo
frontend/app/*.ntvs*
frontend/app/*.njsproj
frontend/app/*.sln
frontend/app/*.sw?

frontend/app/*.tsbuildinfo
.DS_Store

# site folder
site/

# LLM supporting files
memory-bank/
.clinerules

# local postgres
postgres/