fastapi==0.108.0
pydantic==1.10.9
uvicorn==0.25.0
python-dotenv==1.0.0
sqlalchemy==2.0.25
mysqlclient==2.2.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
apscheduler==3.10.4
requests==2.31.0
stravalib==1.5
opentelemetry-sdk==1.22.0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry.exporter.otlp==1.22.0
python-multipart==0.0.6
gpxpy==1.6.2
alembic==1.13.1